* {
    @media (min-width: 2560px) {
        font-size: 35px;
    }
}

// Main section

// background image
main {
    .bg-img {
        background-image: url("../img/bg-header.png");
        height: 40vh;
    }

    .quote {
        padding: 20px;
        height: auto;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
        font-weight: bold;
        color: gray;

        @media (min-width: 375px) and (max-width: 425px) {
            font-size: medium;
        }
    }

    .cards {
        margin: 20px;
        display: flex;
        justify-content: space-evenly;
        padding-inline: 20vh;
        gap: 30px;

        @media (min-width: 375px) and (max-width: 425px) {
            flex-direction: column;
            align-items: center;
            padding: 0;
        }

        .card {
            padding: 20px;
            height: auto;
            width: 25%;
            background-color: $light-beige;
            display: flex;
            gap: 10px;
            justify-content: space-between;
            align-items: center;
            flex-direction: column;
            text-align: center;

            @media (min-width: 375px) and (max-width: 425px) {
                width: 90%;
            }

            div {
                height: 50px;
                width: 50px;
                background-color: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    color: #174899;
                    animation: spin 4s infinite ease-in-out;
                }
                @keyframes spin {
                    100%{
                        transform: rotate(360deg) rotateX(360deg);
                    }
                    
                }
            }
        }
    }

    .work {
        display: flex;
        justify-content: space-between;
        padding-inline: 20vh;
        height: auto;
        gap: 30px;
        margin: 40px 0;

        @media (min-width: 375px) and (max-width: 425px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
        }

        .work-text {
            width: 30%;

            @media (min-width: 375px) and (max-width: 425px) {
                width: 90%;
                text-align: center;
            }

            .work-text-grayed {
                color: gray;
            }
        }

        .work-images {
            color: white;
            text-align: center;
            display: flex;
            justify-content: space-between;
            gap: 10px;
            height: auto;
            width: 60%;

            @media (min-width: 375px) and (max-width: 425px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }

            .cata:hover {
                animation: rot 3s infinite ease-in-out;
            }

            .cata {

                @keyframes rot {
                    100% {
                        transform: rotateY(360deg);
                    }
                }

                @media (min-width: 375px) and (max-width: 425px) {
                    width: 212px;
                    margin-top: 20px;
                }

                img {
                    width: 100%;
                }

                div {
                    background-color: $flati-gray;
                    padding: 10px;

                    p {
                        display: flex;
                    }
                }
            }
        }
    }
}